/* ===== BASE ===== */
.pdv-title{
    
}

.product-display{
    display: flex;
    gap: 2.5rem;
    padding: 2rem 1rem;
}

.ProductDisplay-right{
    margin: 0;
    padding: 0 1rem; flex: 1;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
}

.ProductDisplay-right h1{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.ProductDisplay-right label{
    color: #3d3d3d;
}

.productDisplay-right-prices{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 1rem;
    color: #ff0000;
    font-size: 2rem;
    font-weight: 700;
}

.ProductDisplay-left{
    display: flex;
    gap: 1rem;
    flex-shrink: 0;
}

.productDisplay-img{
    overflow: hidden;
    border-radius: 1rem;
    width: 400px;
}

.productDisplay-main-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ProductDisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.itens-list img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.itens-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.marca span, .conditions span{
    display: flex;
    gap: 10px;
}

.description{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.span-infos{
    color: #8f8f8f;
    font-weight: normal !important;
}

.info-produtos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttons{
    display: flex;
    gap: 10px;
    margin-top: 1rem;
}

.ProductDisplay-right button{
    padding: 12px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #ff4a4a;
    transition: .3s;
}

.btn-cart{
    background-color: #ff4a4a;
    color: white;
}

.btn-comment{
    background-color: #ffffff;
    color: #ff4a4a;
}

.ProductDisplay-right button:hover{
    background-color: #bb0000;
    cursor: pointer;
    color: white;
}

.btn-cart .fa-cart-shopping, .fa-comment{
    font-size:16px;
    margin-right:8px;
}

/* ===== SIZES ===== */
.productDisplay-sizes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 15px 0;
}

.tamanhos-h2{
    font-size: 1rem;
    font-weight: 700;
}

.productDisplay-sizes div{
    padding: 10px 20px;
    background: #fbfbfb;
    border-radius: .5rem;
    border: 1px solid #d6d6d6;
    cursor: pointer;
}

.selected{
    background-color: #3d3d3d;
    color: rgb(255, 0, 0);
    font-weight: 700;
}

.QuantityItens{
    color: black;
    gap: 10px;
    align-items: center;
    display: flex;
    justify-content: left;
    background-color: transparent;
}

.QuantityItens input{
    width: 50px;
    text-align: center;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

.QuantityItens button{
    border: 1px solid #d4d4d4;
    background-color: transparent;
    font-size:1rem;
    padding: 5px 10px;
    width: 40px;
    color: #252525;
    cursor: pointer;
}


/* ===== DESKTOP ===== */
@media (min-width: 1024px){
    .product-display{
        display: flex;
        gap: 3rem;
        margin: 0 1rem;
        padding: 2rem;
    }
}

@media(max-width: 1024px){
    .ProductDisplay-left{
        flex-direction: column;
        align-items: center;
    }

    .ProductDisplay-img-list{
        flex-direction: row;
        justify-content: center;
    }
    
    .itens-list{
        flex-direction: row;
    }

    .buttons{
        flex-direction: column;
        width: 100%;
    }

    .ProductDisplay-right button{
        width: 100%;
    }
}

/* ===== TABLET ===== */
@media (max-width: 900px){
    .product-display{
        flex-direction: column;
        padding: 1rem;
    }

    .ProductDisplay-left{
        flex-direction: column;
        align-items: center;
    }

    .ProductDisplay-img-list{
        flex-direction: row;
        justify-content: center;
    }

    .ProductDisplay-img-list img{
        max-width: 90px;
    }

    .buttons{
        flex-direction: column;
        width: 100%;
    }

    .ProductDisplay-right button{
        width: 100%;
    }
}

/* ===== MOBILE ===== */
@media (max-width: 768px){
    .productDisplay-main-img{
        max-width: 100%;
    }

}

/* ===== MOBILE PEQUENO ===== */
@media (max-width: 480px){
    .ProductDisplay-img-list img{
        max-width: 70px;
    }

    .ProductDisplay-right{
        padding: 0 .5rem;
    }

    .ProductDisplay-right h1{
        font-size: 1.2rem;
    }

    .productDisplay-right-prices{
        font-size: 1rem;
    }
}
