#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(43, 42, 42);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.listProductReviews, .SellerProfile,
.list-product, .add-product{
  padding-top: 5rem  !important;
}
  
a:hover{
  text-decoration: none;
}
