.descriptionbox-navigator{
    display: flex;
}

.container-description{
    width: 100%;
}

.traco{
    border-bottom: 2px solid rgb(110, 110, 110);
    width: 100px;
}

.headerAll{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.fa-trash{
    cursor: pointer;   
    color: #ff4a4a; 
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1.3rem;
}

.stars{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1rem ;
    align-items: center;
}

.stars_select{
    width: 100%;
    padding: .3rem;
    border-radius: .3rem;
    border: 1px solid #ccc;
}

.stars_select option:hover {
    background-color: rgb(255, 128, 24);
    color: #fff;
}

.stars_select option:checked {
    background-color: rgb(255, 128, 24);
    color: #fff;
}

.textarea {
    padding-top: 15px;
}

.textReview{
    word-wrap: break-word;
    white-space: normal; 
}

.textReviewUx{
    width: 100%;
    text-align: left;
    padding-left: 2rem;
}

select{
    border-radius: 1rem;
    padding: 0 1rem;
}

.descriptionbox {
    padding: 3rem 1rem;
    flex-direction: column;
    display: flex;
}

.comment{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex: 1;
    gap: 5px;
}

.headerStar{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}

.liComment {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 20px 20px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  word-break: break-word;
}

.container-review{
    list-style: none;
    padding: 0;
    overflow-y: auto;
    margin: 0;
    max-height: 600px;
    width: 100%;
}

.editReview{
    font-size: 1rem;
    height: 3rem;
    background-color: transparent;
    color: #555;
    border-bottom: 1px solid rgb(255, 238, 0);
}

.cancelEditReview{
    font-size: 1rem;
    height: 3rem;
    margin-left: 1rem;
    background-color: transparent;
    color: #555;
    border-bottom: 1px solid #ff4a4a;
}

.nameUser{
    color: rgb(0, 0, 0);
    font-weight: 400;
    
}

.btnEdit{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 10px;
}

.btns{
    display: flex;
}

.descriptionbox-nav-box .fade{
    background: #FBFBFB;
    color: #555;
}

.EnterReview{
    background-color: #ff4a4a !important;
    margin-top: 1rem;
    width: 100%;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: .8rem;
}

.cancelReview{
    background-color: #ff4a4a !important;
    margin-top: 1rem;
     width: 100%;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: .8rem;
}

.btnEnviar{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.addReview{
    border-radius: 5px;
    width: 100%;
    border: 1px solid rgb(255, 17, 17);
    padding-left: 1rem;
}

.editReviewInput{
    border-radius: 14px;
    padding: .3rem 1rem;
    width: 100%;
    border: 2px solid rgba(255, 199, 17, 0.322);
}

.reviewButton{
    color: rgb(255, 0, 0);
    background-color: transparent;
    border:1px solid  rgb(255, 0, 0);
}

.show{
    display: block;
}
.hide{
    display: none;
}

.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}

.descriptionbox-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #D0D0D0;
    padding: 48px;
}

.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

@media (max-width:400px){
    .descriptionbox{
        margin: 70px 10px;
    }    
    .descriptionbox-navigator, 
    .descriptionbox-description{
        justify-content: center;
    }

    .descriptionbox-description{
        padding:28px;
        padding-bottom:40px;
    }
}

@media (max-width:600px){
    .descriptionbox{
        margin: 70px 10px;
    }    
    .descriptionbox-navigator, 
    .descriptionbox-description{
        justify-content: center;
    }

    .descriptionbox-description{
        padding:28px;
        padding-bottom:40px;
    }
}