.container-dashboard h3{
    color: rgb(255, 255, 255);
    padding-bottom: 2rem;
    text-shadow: 1px 1px 1px #000;
}

/* dashboard */

.containerCommon{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 3rem;
    width: 100%;
}

@media(max-width:1366px){
    
    .containerCommon{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 3rem;
        width: 100%;
    }

    .group-box span{
        font-size: 2rem;
    }

    .icon{
        font-size: 5.5rem;
    }
}