.arrow-cloud{
    font-size: 2rem;
    margin: 1rem 0;
    color: rgb(216, 216, 216);
    padding: 5.5rem 5rem;
    border: 2px dotted #dadada;
    background-color:rgb(32, 32, 32);
    border-radius: 50%;
    object-fit: contain;
}

.detailsgateway a{
    color: rgb(1, 194, 26);
}

.detailsgateway{
    font-size: .7rem;
    padding-top: 5px;
    word-wrap: break-word;
}

.addprofile-thumbnail-img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 1rem 0;
    color: rgb(32, 32, 32);
    border-radius: 50%;
    display: block;
}

.inputsConfig{
    display: flex;
    text-align: left;
    padding: 1rem;
}

.container-group{
    display: flex;
    justify-content: space-between;
}

button{
    border-radius: 7px;
    padding:.2rem 2rem;
    border: none;
}

input{
    border: 2px solid #ff9900;
    border-radius: 7px;
    width: 70%;
    color: white;
    padding-left: 1rem;
}

.name, .emailChange,
.passwordChange, 
.description,
.gateways{
    display: flex;
    flex-direction: column;
}

.formInputs label{
    margin-top: 1rem
}

.info-empresa{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #ff9900;
    flex-direction: column;
}

.stars, .vendidos{
    display: flex;
    gap: 1rem;
}
