.LoginSignup{
    width: 100%;
    min-height: 80vh;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    display: flex;
}

.loginSignup-container{
    width: 40%;
    height: 650px;
    background-color: white;
    padding: 40px 70px;
}

.loginSignup-container button{
    width: 100%;
    height: 72px;
    color: #ffffff;
    background-color: rgb(255, 86, 19);
    margin-top: 30px;
    margin-bottom: 1rem;
    border: none;
    border-radius: .5rem;
    font-size: 24px;
    cursor: pointer;
}

.loginSignup-container h1{
    margin: 20px 0;
}

.login-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}

.login-fields input{
    height: 72px;
    width: 100%;
    border-radius: .5rem;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-bottom: .2rem;
}

.login span{
    color: rgb(255, 86, 19);
    font-weight: 600;
}

.agree-terms{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #757575;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
}

@media(max-width:1366px){
    .loginSignup-container{
        width: 55%;
        height:550px;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }   
    .login{
        font-size: 16px;
    }
    .agree-terms{
        font-size: 16px;
    }
    .loginSignup-container h1 {
        margin: 0;
    }
    .login-fields input{
        height: 53px;
        font-size: 18px;
    }
    .loginSignup-container button{
        height: 50px;
        font-size: 20px;
    } 
}

@media(max-width:1000px){
    .loginSignup-container{
        width: 60%;
    }   
}
@media(max-width:850px){
    .loginSignup-container{
        width: 70%;
        padding: 40px 50px;
    }    
    .login{
        font-size: 16px;
    }
    .agree-terms{
        font-size: 16px;
    }
}

@media(max-width:650px){
    .loginSignup-container{
        width: 75%
    }    
    .login-fields input{
        height: 62px;
        font-size: 18px;
    }
    .loginSignup-container button{
        height: 62px;
        font-size: 20px;
    } 
    .login{
        font-size: 16px;
        margin-bottom: .2rem;
    }
    .agree-terms{
        font-size: 16px;
    }   
}

@media(max-width:450px){
    .loginSignup-container{
        width: 85%;
    }    
    .login-fields input{
        height: 57px;
        font-size: 15px;
    }
    .loginSignup-container button{
        height: 52px;
        font-size: 20px;
    }  
    .login{
        font-size: 15px;
    }
    .agree-terms{
        font-size: 15px;
    }
      
}

.active{
    display: block;
}

.login span{
    cursor: pointer;
}