.add-product{
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 6px;
    background-color: white;
}

.cloud-arrow{
    font-size: 2rem;
    margin: 1rem 0;
    color: rgb(216, 216, 216);
    padding: 4rem 3.7rem;
    border: 2px dotted #dadada;
    background-color: rgb(248, 248, 248);
    border-radius: .5rem;
    object-fit: contain;
}

.addproduct-itemfield{
    width: 100%;
    color: #7b7b7b;
    font-size: 16px;
}

.addproduct-itemfield input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7b7b;
    font-family: "Poppins";
    font-size: 14px;
}

.addproduct-price{
    display: flex;
    gap:40px;
}

.add-product-selector{
    padding: 10px;
    width:30%;
    height: 50px;
    font-size: 14px;
    color: #7b7b7b;
    border: 1px solid #7b7b7b8d;
    border-radius: 4px;
}

.addproduct-btn{
    width: 160px;
    height: 50px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 6px;
    background-color:  rgb(255, 86, 19);
    font-size: 16px;
    font-weight: 500;
}

@media(max-width:800px){
    .add-product{
        width: auto;
        padding:30px;
        margin: 20px;
    }
}

.addproduct-itemfield p,
.add-product-itemfield p{
    margin-top: .5rem;
}
