.shopcategory-indexSort p span{
    font-weight: 600;
}

.shopcategory-indexSort{
    display: flex;
    margin: 2rem 0;
    justify-content: center;
    align-items: center;
}

.itens{
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background-color: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight:500 ;
}
