.banner-left img{
    height: 250px;
    padding-top: 1rem;
    object-fit: cover;
    display: flex;
}

.shopcategory-indexSort{
    display: flex;
    margin: 2rem 0;
    justify-content: center;
    align-items: center;
}

.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-products{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px 0;
}

.itens{
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.banner{
    display: flex;
    margin: auto;
    margin-bottom: 1.5rem;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background:linear-gradient(to right,#ffa600, 60%, #88888800);
}

.banner-right h1{
    font-weight: 800;
    color: #ff5e00;
    font-size: 4rem;
}
.banner-right p{
    color: black;
    font-size: 35px;
}
.banner-right span{
    color: #ff5e00;
    font-weight: 700;
}

.banner-left{
    display: flex;
    justify-content: center;
}

.banner-right, 
.banner-left{
    flex: 1;
}

.banner button{
    width: 282px;
    height: 70px;
    border-radius: 20%;
    background-color: #ff5e00;
    border: none; color: white;
    font-size: 22px;
    font-weight: 500;
}


.shopcategory-indexSort p span{
    font-weight: 600;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background-color: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight:500 ;
}

.banner-right{
    margin-bottom: 1rem;
}


@media(max-width:1450px){
    .shopcategory-products {
        justify-content: center;
        margin-left: 0;
    }
    .shopcategory-indexSort{
        justify-content: center;
        gap: 500px;
        margin: 0;
    }
    .banner{
        padding-left: 6rem;
    }
    .banner-right h1{
        font-size:4rem;
    }
    .banner-right{
        margin-bottom: 1rem;
    }
    .shopCategory-banner{
        width: 70%;
    }
    .itens{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width:1280px){
    .shopcategory-products {
        justify-content: center;
        margin-left: 0;
    }
    .shopcategory-indexSort{
        justify-content: center;
        gap: 500px;
        margin: 0;
    }
    .banner{
        padding-left: 6rem;
    }
    .banner-right h1{
        font-size:4rem;
    }
    .banner-right{
        margin-bottom: 1rem;
    }
    .shopCategory-banner{
        width: 70%;
    }
    .itens{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:1024px) {
    .shopcategory-indexSort{
        justify-content: center;
        gap: 500px;
        margin: 0;
    }
    .banner-right h1{
        font-size: 3.4rem;
    }
    .banner-right p{
        font-size: 30px;
    }
    .banner{
        padding-left: 6rem;
    }

    .banner button{
        width: 280px;
        height: 70px;
        margin-top: 1rem;
    }
    .banner-right{
        margin-bottom: 1rem;
    }
    .shopCategory-banner{
        width: 100%;
    }
    .itens{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:860px) {
    .shopcategory-products {
        justify-content: center;
        margin-left: 0;
    }
    .shopcategory-indexSort{
        justify-content: center;
        gap: 270px;
        margin: 0;
    }
    .banner-right h1{
        font-size: 2.7rem;
    }
    .banner-right p{
        font-size: 28px;
    }
    .banner{
        padding-left: 6rem;
    }

    .banner button{
        width: 252px;
        height: 60px;
        margin-top: 1rem;
    }
    .banner-right{
        margin-bottom: 1rem;
    }
    .shopCategory-banner{
        width: 100%;
    }
    .itens{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:720px) {
    .shopcategory-indexSort{
        justify-content: center;
        gap: 200px;
        margin: 0;
    }

    .banner-right h1{
        font-size: 2.2rem;
    }

    .banner-right p{
        font-size: 20px;
    }

    .banner{
        padding-left: 6rem;
    }

    .banner button{
        width: 252px;
        height: 60px;
        margin-top: 1rem;
    }

    .banner-right{
        margin-bottom: 1rem;
    }

    .shopCategory-banner{
        width: 100%;
    }

    .itens{
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:570px) {
    .shopcategory-indexSort{
        justify-content: center;
        gap: 100px;
        margin: 0;
    }

    .banner-right h1{
        font-size: 2.2rem;
    }

    .banner-right p{
        font-size: 20px;
    }

    .banner{
        padding-left: 0;
    }

    .banner button{
        width: 252px;
        height: 60px;
        margin-top: 1rem;
    }

    .banner-right{
        margin-bottom: 1rem;
    }

    .shopCategory-banner{
        width: 100%;
    }

    .itens{
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:490px) {
    .shopcategory-indexSort{
        justify-content: center;
        gap: 100px;
        margin: 0;
    }

    .banner-right h1{
        font-size: 1.9rem;
    }

    .banner-right p{
        font-size: 17px;
    }

    .banner{
        padding-left: 0;
    }

    .banner button{
        width: 180px;
        height: 50px;
        margin-top: 1rem;
    }

    .itens{
        display: grid;
        grid-template-columns:1fr;
    }
    .shopcategory-indexSort{
        justify-content: center;
        gap: 80px;
        margin: 0;
    }
}