.userPerfil-container{
    display: flex;
    justify-content: center;
    margin: 3rem;
    border-radius: 6px;
    background-color: white;
}

.perfil-file{
    order: 1;
    display: flex;
    flex-direction: column;
}

.estado-selector{
    border: 2px solid rgb(255, 144, 17);
    font-size: 14px;
    color: #7b7b7b;
    border-radius: 4px;
}

.container-config{
    display: flex;
    justify-content: center;
    gap: 100px;
    justify-content: center;
}

.arrow-cloud{
    font-size: 2rem;
    margin: 1rem 0;
    color: rgb(136, 136, 136);
    padding: 5.5rem 5rem;
    border: 2px dotted rgb(136, 136, 136);
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
    object-fit: contain;
}

.inputsConfig{
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.btn{
    display: flex;
    justify-content: flex-end;
}

.inputsConfig p{
    margin-bottom:5px;
}

.inputsConfig input{
    border-radius: 5px;
    outline: none;
    margin-bottom: 1rem;
    height: 2.4rem;
    width: 100%;
    border: 1px solid red;
    padding-left: 1rem;
    outline: none;
    background-color: #dadada;
}

.form-control:focus{
    background-color: white;
}

.inputsConfig input::placeholder{
    color: #c2c2c2;
}

button{    
    color: #ffffff;
    background-color: green;
    border: none;
    border-radius: .5rem;
    font-size: 20px;
    padding:3px 1rem;
    cursor: pointer;
}

.logout{
    border:1px solid red;
    background-color: transparent;
    color: red;
    cursor: pointer;
    padding:3px 1rem;
}

.logout:hover{
    background-color: red;
    color: white;
}

.info-empresa{
    order: 3;
    padding: 1rem;
}

.info-empresa p{
    margin-bottom: 0;
}

.info-empresa input{
    margin-bottom: 1rem;
}

.form-group label{
    margin-bottom: 0;
}

.addprofile-thumbnail-img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 1rem 0;
    color: rgb(216, 216, 216);
    border-radius: 50%;
    display: block;
}

@media (max-width: 800px){
    .container-config{
        flex-direction: column;
        align-items: center;
    }

    .inputsConfig input{
        width: 100%;
    }
}