.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px -2px black;
    background-color:rgb(24, 24, 24);
    color: white;
    padding: 0px 50px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 0.5px solid rgb(44, 44, 44);
}

.nav-logo {
    display: flex;
    gap: 10px;
    margin-top: 25px;
    align-items: center;
    text-align:left;
}

.nav-logo img{
    margin-top: -30px;
    width: 40px;
    height: 35px;
}

.nav-logo p{
    margin-top: -10px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1;
}

.nav-logo span{
    color: rgb(156, 156, 156);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.profile img {
    width: 25px;
    background-color: rgb(255, 255, 255);
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.profile{
    border-radius: .5rem;
    display: flex;
    margin:0 2rem;
    padding: .4rem .6rem;
    border: 1px solid rgb(255, 101, 40);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile a{
    font-size: 14px;
    color: white;
    font-weight: 500;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    display: flex;
    gap: .5rem;
}

.profile:hover{
    color: rgb(255, 101, 40);
}

.profile p{
    margin: 0;
}

@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo img{
        width: 35px;
        height: 30px;
    }
    .nav-logo p{
        font-size: 20px;
    }
    .nav-logo span{
        font-size: 12px;
    }
}

/* mobile menu */
.mobile{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.SidebarMobile{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(24, 24, 24);
    z-index: 99;
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
    gap: 2rem;
    transition: transform 0.3s ease-in-out;
}

.fa-bars .btn-hamburger{
    flex: 1;
}

.logo-close{
    display: none;
}

.menu-logo{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 10000;
}

.menu-logo p{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1;
    margin-bottom: 0; padding-bottom: 0%;
}

.menu-logo span{
    color: rgb(156, 156, 156);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fa-xmark{
    z-index: 10000;
    font-size: 1.2rem;
}

.sidebar-item-mobile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-left: 3rem;
    border-bottom: 1px solid rgb(44, 44, 44);
    width: 100%;
    text-decoration: none;
    color: white;
}

.itens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.container-nav-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-wrapper {
    position: relative;
    display: inline-block;
}

.btnGoOut {
    position: absolute;
    top: 100%;
    right: 28px;
    margin-top: 1px;

    opacity: 0;
    transform: translateY(-6px);
    pointer-events: none;

    transition: all 0.25s ease;
}

.btnGoOut.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.logout {
    background: #ff9900;
    color: #000;
    font-weight: 600;
    padding: 10px 35px;
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
}

.logout-mobile {
    border-radius: .5rem;
    display: flex;
    background-color: #ff9900;
    margin:0 2rem;
    padding: .4rem .6rem;
    border: 1px solid rgb(255, 101, 40);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
