.nav-logo {
    display: flex;
    gap: 10px;
    margin-top: 25px;
    align-items: center;
    text-align:left;
}

.nav-logo img{
    margin-top: -30px;
    width: 40px;
    height: 35px;
}

.nav-logo p{
    margin-top: -10px;
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    line-height: 1;
}
.nav-logo span{
    color: rgb(161, 0, 0);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px -2px black;
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 0px 50px;
    margin-bottom: 1px;
}

.profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.profile{
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    background-color: white;
}

.profile p{
    margin-top: 1rem;
    margin-left: .6rem;
}

@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo img{
        width: 35px;
        height: 30px;
    }
    .nav-logo p{
        font-size: 20px;
    }
    .nav-logo span{
        font-size: 12px;
    }
}