.Admin {
    display: flex;
    min-height: 100vh;
    background-color: rgb(43, 42, 42);
    color: white;
    overflow: hidden;
}

@media (max-width: 800px) {
    .Admin {
        flex-direction: column;
        min-height: 100vh;
    }

    .container-geral {
        padding: 20px 15px;
    }
}