.list-product{
    padding: 10px 50px;
}

.list-product h1{
    color:  rgb(255, 86, 19);
    margin-bottom: 2rem;
}

.listproduct-format-main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 100px;
    width: 100%;
    padding: 20px 0;
    text-align: left;
    color: #cacaca;
    font-size: 15px;
    font-weight: 600;
}

.fa-delete-left{
    font-size:20px;
    color: rgb(145, 145, 145);
    cursor: pointer;
    margin: auto;
}

.fa-pen-to-square{
    font-size:20px;
    color: rgb(145, 145, 145);
    cursor: pointer;
    margin: auto; 
}

.listproduct-allproducts{
    overflow-y: auto;
}

.listproduct-format{
    align-items: center;
    font-weight: 500;
}

.listproduct-product-img{
    height: 80px;
}

@media(max-width:1380px){
    .listproduct-format-main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
    .list-product{
        max-height: 610px;
    }
    
}

@media(max-width:800px){
    .list-product{
        width: 95%;
        height: 100%;
        padding: 10px 30px;
        margin: 20px auto;
    }
    .listproduct-format-main{
        padding: 15px 0;
        color: #454545;
        font-size: 12px;
    }
    .listproduct-product-img{
        height: 60px;
    }
}
