.RelatedProucts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    height: 100%;
}

.RelatedProucts h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.relatedProducts-item{
    margin-top: 50px;    
    justify-content: center;
    display: flex;
    flex-wrap:wrap;
    gap: 30px;
}

.RelatedProucts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}

@media( max-width:400px){
    .RelatedProucts h1{
        font-size: 25px;
    }
    .RelatedProucts hr{
        width: 200px;
        height: 4px;
        margin-top: .2rem;
    }
    .relatedProducts-item{
        margin-top: 30px;    
        gap: 30px;
    }
    
}

.looping-products{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14rem;
    font-size: 1.5rem;
    font-weight: 600;
}