.item{
    width: 270px;
    overflow: hidden;
    border-radius: 1rem 1rem 5px 5px;
    margin-bottom: 0;
    position: relative;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
}

.item-favorite-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

.item-favorite-btn i {
    font-size: 14px;
    margin-right: -0.05rem;
}
.informations{
    padding:0 1rem;
}
.item p{
    margin: 6px 0;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item img{
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.item-prices{
    display: flex;
    gap: 20px;
}

.item-price-new{
    color: #303030;
    font-size:18px;
    font-weight: 700;
}

.item-price-old{
    color: rgb(141, 141, 141);
    font-size:18px;
    text-decoration: line-through;
    font-weight: 500;
}

.item:hover{
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
}

.item img:hover{
    transform: scale(1.05);
}

.item img {
  width: 100%;
  height: 75%;
  transition: transform 0.3s ease-in-out;
}

@media(max-width:1280px){
    .item img{
        width: 100%;
        height:75%;
    }
}

@media(max-width: 1024px){
    .item{
        width: 250px;
    }
    .item img{
        width: 95%;
        height:75%;
    }
}

@media(max-width: 800px){
    .item{
        width: 180px;
    }
    .item img{
        width: 100%;
        height:55%;
    }
}

@media(max-width: 400px){
    .item{
        width: 140px;
    }
    .item img{
        width: 100%;
        height:60%;
    }
}