.ChatSeller{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    max-height: 900px;
    padding: 10px 50px;
    margin: 20px;
    border-radius: 6px;
    background: white;
}

.hide{
    display: none;
}

.fa-circle-exclamation{
    font-size: 1.4rem;
    color: rgb(255, 136, 0)
}

.active{
    background-color: rgb(255, 136, 0);
    transform: translateY(-2px);
}

.chatsList{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;    
    border: 1px solid rgb(255, 17, 128);
}

.msg-box{
    border: 1px solid rgb(255, 17, 128);
    width: 100%;
    height: 100%;
}

.inputSeller{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    margin: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.inputSeller:hover{
    background-color: rgb(255, 136, 0);
    transform: translateY(-2px);
}

.userChat{
    margin-left: 1rem;    
    justify-content: center;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.userChat p{
    margin: 0;
    font-size: 1.1rem;
    color: rgb(22, 22, 22);
}

.userChat img{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    margin: 1rem 0;
    color: rgb(216, 216, 216);
    border-radius: 50%;
    display: block;
}

.chatsList h3, .chatsList h1{
    color:rgb(255, 17, 128);
    text-align: center;
    margin-top: 2rem;    
    font-size: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.newMsg{
    text-align: end;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}